body,div,ul,li,p{
	margin: 0px;
	padding: 0px;
}
body{
    text-align: center;
    font-family: "微软雅黑";
}
.container{
	width: 100%;
	min-width: 100px;
	margin: 0px auto;
	
	font-size: 14px;
	position: relative;
	text-align: left;	
    color: #000000;
}
.banner{
    width:100%;
    height:360px;
    background:url(../images/banner.jpg)  no-repeat;
    background-size:100%
}
.nav{
	width: 80%;
	margin: 0px auto;		
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.nav .logo{
    width:20%; 
}
.nav ul{
	width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center
	
}
 .nav ul li{
	width:18%;
	margin: 0 auto;
	height: 84px;
    text-align: center;
    background: url(../images/nav_bg_01.png) center/ 100%  no-repeat;	
    font-size: 16px;
    color: #FFFFFF;
    line-height: 84px;
    cursor: pointer;

} 
.active{
	cursor: pointer;
	background: url(../images/nav_bg.png)  center / 100% no-repeat !important;
}

.content>div{
    width: 70%;
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(6,0,1,0.2);
	margin-top: 50px;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    display: none;
    padding:30px;
}
.content>div:first-child{
    display:block
}


.sub-title{
    height: 58px;
    background: url(../images/titlebg.png) no-repeat ;
    background-size:auto 100%;
    margin-bottom:30px;
    position: relative;
    
}
.sub-title>span{
    color:#fff;
    font-size:24px;
    position: absolute;
    bottom:6px;
    left:15px;
    
}
/*公司简介*/
.intro{
	color: #171717;
	line-height: 35px;
	text-indent: 2em;
}
.line{
	height: 1px;
	background: #bed0da;
	margin: 20px 0;
}
.intro a{
	color: #171717;
}
.intro a:hover{
	text-decoration: underline;	
}

/* 职业发展 */
.development{
    color: #171717
}
.development>.career>ul{
    list-style:none;
	line-height: 35px;
    text-indent:3em
    
}
.development>.career>ul img{
    height:2.0em;
    vertical-align: middle;
    margin-right:1em;
    
}
.development>.career>ul>li>ul{
    padding-left:7em;
    list-style:disc;
  
}
.development>.career>ul>li>ul>li{
    text-indent: 1em
}
.development>.career>ul>li, .salary>.welfare>ul>li{
    line-height:3
}

.salary>.welfare>ul{
    line-height: 35px;
    padding-left:6em;
    list-style:disc ;
}

.salary>.welfare img{
    height:2.0em;
    vertical-align: middle;
    margin-right:1em; 
}

.QRCode{
    display: inline-block;
    text-indent: 2em;
    text-align: center;
    margin-bottom:.8em;
}
.QRCode>img{
    height:100px;
}

/*招聘日程*/

.schedule_item {
	color: #171717;
	font-size: 14px;
	line-height: 45px;
    padding-bottom:5px;
    border-bottom: 1px solid #d4e0e7;
}

.schedule_item img{
    vertical-align: middle;
    margin-right:15px;
} 
.process {
    position: relative;
    z-index:2
}
.process  .v-line{
    position: absolute;
    left:calc(2em + 18px);
    top:3em;
    bottom:3em;
    width:2px;
    background-color:#286385;
    z-index:-1
}
.process .timeline{
    padding: 1em 2em;
  
}

.process .timeline .point{
    display: flex;
    justify-content: flex-start;
}
.process .timeline .point .clock{
    padding:8px;
    border-radius: 50%;
    background: #286385;
    display: inline-block;
}
.process .timeline .clock img{
    width:20px;
}
.process .timeline .point .title{
    padding-left:1em;
   color:#000;
   font-weight:500;
   font-size:18px;
    line-height: 36px;
}
.process .timeline .process_item>img{
    height:20px;
    width:20px;
    margin-right:10px;
    vertical-align: middle
   
}
.process .timeline  .process-content{
    padding:1em 0 1em 3em;

}
.process .timeline  .process-content .process_item:nth-child(2n){
    margin-bottom:.5em
}
.process .timeline  .process_item{
   line-height: 25px;
}
.process .note{
    color:#286285
}

/*岗位介绍*/

.position-intro .job{
	padding-left: 2em;
}
.position-intro .job_title{
	color: #286385;
	font-weight: bold;
	font-size: 16px;
	line-height: 35px;
}
.position-intro .job_title span{
    font-size: 20px;
	margin-right: 10px;
}
.position-intro .job_des{
	font-size: 14px;
	color: #171717;
	line-height: 35px;
    letter-spacing: 2.8px;
    margin-left:25px;
    display: flex;
    margin-right:80px;
}
.position-intro .job_des .icon{
	color: #93b1c2;
	font-size: 16px;
    margin-right: 10px;
}

.position-intro .job_des .title,.position-intro .job_des .detail{
    font-size: 14px;
	color: #171717;
    line-height: 35px;
}
.position-intro .job_des .detail{
    flex:1
}
.position-intro .job_des .detail p{
    clear: both;
}

.position-intro .address{
	font-size: 14px;
	color: #171717;
	text-indent: 2em;
    line-height: 35px;
    display: flex;
    justify-content: space-between;
    margin-bottom:30px;
    margin-right:50px;
    
}
.position-intro .address .right{
    flex:1;
    border-bottom:1px solid #0070b4;
    display: flex;
    justify-content: space-between;
    text-align:start;
    text-indent: 0
}
.position-intro .address .icon{
	color: #93b1c2;
	font-size: 16px;
	margin-right: 10px;
}
.position-intro .address .applyBtn{
	padding:0rem 1.2rem;
	background: #286385;
	color: #FFFFFF;
    font-weight: bold
}
/*版权*/
.footer{
    font-size: 14px;
	width: 100%;
    margin: 2.5em auto 2em;
    text-align: center;
    color:#bbb;
    
}

/*响应式*/
@media (max-width: 767px){
    body{
        display: flex;
        flex-direction: column;
    }
    .container{
        flex:1
    }
    .banner{
        height:130px;
    }
    .nav{
        width:95%;
    }
    .nav .logo{
        width:20%
    }
    .nav ul{
        width:78%
    }
    .nav ul li {
        font-size:12px;
    }
    .footer{
        font-size:12px;
    }
    .content>div{
        width: 90%;
        margin-top: 20px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        display: none;
        padding:10px;
    }
    .sub-title{
        height: 48px;
        margin-bottom:20px;
    }
    .sub-title>span{
        font-size: 18px
    }
    .development>.career>ul{
        text-indent: 2em
    }
    .position-intro .job{
        padding-left:1em
    }
    .position-intro .job_des{
        margin-right:20px;
    }
    .development>.career>ul img{
        height:1.5em;
        margin-right:0;
    }
    .development>.career>ul>li{
        text-indent: 2em
    }
 }